tenant_enabled=true
tenant_id=3d9a556d95a5c126d3908fceec88e036
tenant_order_number=1
tenant_name=generictenant
tenant_display_name=generic-tenant
tenant_azure_domain_name=generic-tenant
tenant_custom_domain_name=generic-tenant.generic-tenant.org.tr
tenant_web_url=https://www.generic-tenant.org.tr
tenant_admin_email=admin@generic-tenant.org.tr
tenant_feedback_email=iletisim@generic-tenant.org.tr
tenant_knowledge_source_1_type=web_site
tenant_knowledge_source_1_url=https://www.generic-tenant.org.tr
tenant_knowledge_source_1_refresh_period=1hour
tenant_knowledge_source_1_name=%tenant_display_name%
tenant_knowledge_source_1_description=%tenant_display_name% web sitesi seed bilgi kaynağı.
tenant_knowledge_source_1_enabled=true
tenant_text_cleaner_leading_boilerplate_terms=generic-tenant|generic-tenant|Bağış|Gönüllü Ol|Kan Bağışı|Yardım
tenant_text_cleaner_exact_boilerplate_lines=generic-tenant|generic-tenant|bağış|gönüllü ol|kan bağışı|yardım
tenant_text_cleaner_footer_line_prefixes=© generic-tenant
primary_ai_provider=ollama-cloud
secondary_ai_provider=azure-cloud
ai_provider_ollama_cloud_model=minimax-m3:cloud
ai_provider_azure_cloud_model=deepseek-v4-flash
domain_only_crawling=true
web_document_max_count=1000
web_document_max_depth=10
Sqlite__ConnectionString=Data Source=./Data/%tenant_name%/oyako.sqlite;Cache=Shared
ui_web_brand_name=generic-tenant
ui_web_assistant_name=generic-tenant Asistan
ui_web_title=%ui_web_assistant_name%: %ui_web_brand_name% Soru-Cevap Platformu
ui_web_header_title=%ui_web_brand_name% soru-cevap platformu
ui_web_brand_logo_url=/tenants/generictenant/brand-logo.svg
ui_web_assistant_welcome_message=Merhaba, ben dijital asistanınız %ui_web_assistant_name%. %ui_web_brand_name% ile ilgili merak ettiğiniz her şeyi bana sorabilirsiniz. Cevaplamak için hazırım.
ui_web_assistant_header_title=%ui_web_brand_name% hakkında öğrenmek istediğinizi sorun:
ui_web_more_menu_brand_link=%ui_web_brand_name%
ui_web_more_menu_feedback_link=Geri Bildirim Gönderin
ui_web_more_menu_help_link=Yardım
ui_web_settings_page_title=Ayarlar
ui_web_settings_header_title=%ui_web_assistant_name% çalışma ayarları
ui_web_knowledge_bank_header_title=Bilgi Bankası
ui_web_knowledge_source_header_title=Bilgi Kaynakları
ui_web_knowledge_source_header_message=%ui_web_assistant_name%, sorularınıza cevap verirken aşağıda gösterilen {sourceCount} adet bilgi kaynağını ve {documentCount} adet belgeyi kullanabilir.
ui_web_knowledge_sources_table_title=Şu kaynaklar kullanılabilir:
ui_web_knowledge_documents_table_title=Şu belgeler kullanılabilir:
